@model Login.Models.EkleViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="account-container">
    <div class="account-box">
        <h2>Yeni Kullanıcı Ekle</h2>
        <form asp-action="Ekle" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Message != null)
            {
                <div class="form-group" style="color:green;">
                    @ViewBag.Message
                </div>
            }

            <div class="mb-3">
                <label asp-for="FirstName" class="control-label">Ad</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Soyad</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">E-posta adresi</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label for="Role">Kullanıcı Rolü Seçiniz</label><br />

                <!-- Kullanıcı rolü seçimi (Radio button) -->
                <div>
                    <input type="radio" id="user" name="Role" value="User" checked />
                    <label for="user">User</label>
                </div>
                <div>
                    <input type="radio" id="admin" name="Role" value="Admin" />
                    <label for="admin">Admin</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="margin-top:20px">Kullanıcıyı ekle</button>

        </form>
    </div>
</div>



  