@model Login.Models.GirisViewModel

@{
    ViewData["Title"] = "Giris";
	Layout = "~/Views/Shared/_GirisLayout.cshtml";
}

<div class="account-container">
	<div class="account-box">
		<h2 class="text-center mb-4">Giriş Sayfası</h2>
		<form  asp-action="Giris" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="Email" class="form-label">E-posta adresi:</label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Password" class="form-label">Şifre:</label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<input type="submit" value="Giriş Yap" class="btn btn-success w-100 p-2" />
		</form>
		<div>
			Hesabınız yok mu?
			<a asp-action="Kayit">Kayıt olun</a>
		</div>
	</div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
